<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lafarge.truckmix" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application>
        <service
            android:name=".service.TruckMixService"
            android:exported="false"
            android:label="TruckMix Service"
            android:process=":TruckMix">
        </service>
    </application>

</manifest>
